<div class="mt-4">
  <%= turbo_frame_tag "new_message", target: "_top" do %>
    <p class="fw-bold">New Message</p>
    <%= form_with model: [@board, @message] do |f| %>
      <div class="field">
        <%= f.text_area :content, placeholder: 'new message', class: 'input-gray w-300 text-area-fixed' %>
      </div>

      <div class="field position-relative mb-3">
        <div class="select-arrow"></div>
        <%= f.select :category, [['Good', 'good'], ['Improve', 'improve'], ['Actions', 'actions']], {}, include_blank: false, class: 'select-gray' %>
      </div>
      <div class="actions">
        <%= f.submit 'Add Message', class: "cta-btn w-300" %>
      </div>
      <%= link_to 'Back to Board', board_path(@board.id), class: 'cta-link' %>
    <% end %>
  <% end %>
</div>
